html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-image: url(img/home-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    margin: 0;
    display: flex;
    justify-content: space-between;
    

}




.circular-image {

    content: center;
    border-radius: 50%;
    /* Creates a circle */
    width: 170px;
    /* Set width, should be same as height */
    height: 160px;
    /* Set height, should be same as width */
    /* Optional: Add a border */
    border: 2px solid black;
}


header {
    position: fixed;
    /* Fixes navigation position */
    top: 0;
    left: 0;
    background-color: rgb(24, 28, 114);
    padding: 10px;
    height: 100%;

}


#home-link img {
    top: 0;
    left: 0;




}

header h1 {
    font-size: 25px;
    margin: 10px;
    color: white;
}

header a img:hover {
    transition-property: ease-in;
    filter: invert(60%);
}

header ul li {
    list-style: none;
}

header nav a {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);


}

header nav a:hover {

    transition-timing-function: ease;
    color: rgb(0, 0, 0);

}

header nav a:active-view-transition {
    left: 0;
}

article {
    width: 100%;
    padding-left: 260px;
    color: white;

}

article section {
    padding: 20px;
    color: white;
}

.education {
    border-bottom: 2px solid black;
}

.tech-skills {
    border-bottom: 2px solid black;
}

.projects {
    border-bottom: 2px solid black;
}

.work-xp {
    border-bottom: 2px solid black;
}

p,
li,
strong,
em,
span {
    font-size: 22px;
}

li {
    line-height: 1.5;
}

span {
    float: right;
}